html, body {
  margin: 0px;
  background: linear-gradient(25deg, #C8A6B4, #16054A);
  height: 100%;
  overflow: hidden;
  font: 15px/20px Arial, sans-serif; }

#root {
  position: relative;
  z-index: 1; }

canvas {
  display: block;
  position: absolute;
  z-index: 0; }

.next, .prev {
  color: #444;
  position: absolute;
  top: 100px;
  padding: 1em 2em;
  cursor: pointer;
  background: #CCC;
  border-radius: 5px;
  border-top: 1px solid #FFF;
  box-shadow: 0 5px 0 #999;
  transition: box-shadow 0.1s, top 0.1s; }

.next:hover, .prev:hover {
  color: #000; }

.next:active, .prev:active {
  top: 104px;
  box-shadow: 0 1px 0 #999; }

.next {
  right: 5em; }

.prev {
  left: 5em; }
